@charset "UTF-8";

@use "../../../global" as g;


.ses-advantages {
    padding: 0 2.4rem;
    margin-bottom: 20rem;
    @include g.mq('pc') {
        margin-bottom: 40rem;
    }
    &__wrapper {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
    }
    &__heading {
        @include g.heading;
        margin-bottom: 4rem;
        span {
            @include g.heading-sub;
        }
        @include g.mq('pc') {
            margin-bottom: 5rem;
        }
    }
    &__box {
        border-top: 2px solid g.$sub;
        padding: 3rem 0;
        @include g.mq('pc') {
            display: flex;
            justify-content: space-between;
        }
    }
    &__box:last-of-type {
        border-bottom: 2px solid g.$sub;
        margin-bottom: 8rem;
    }
    &__figure {
        max-width: 325px;
        width: 100%;
        margin: 0 auto 3.1rem;
        @include g.mq('pc') {
            max-width: 441px;
            margin: 0;
        }
    }
    &__inner {
        @include g.mq('pc') {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }
    &__title {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2;
        color: g.$text;
        margin-bottom: 1.5rem;
        @include g.mq('pc') {
            font-size: 2.4rem;
        }
    }
    &__text {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2;
        color: g.$text;
        letter-spacing: 0.028em;
        margin: 0;
        @include g.mq('pc') {
            font-size: 1.8rem;
            letter-spacing: 0.036em;
        }
    }
    &__btn {
        @include g.btn-sub;
        @include g.mq('pc') {
            margin: 0 auto;
        }
    }
}



