@charset "UTF-8";
.faq {
  margin-bottom: 20rem;
  padding: 0 2.4rem;
}
@media screen and (min-width: 1025px) {
  .faq {
    margin: 12rem 0 40rem;
  }
}
.faq__wrapper {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}
.faq__btn-area {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .faq__btn-area {
    height: 120px;
  }
}
.faq__tab-btn {
  -webkit-transition: all 0.3s ease-out;
  color: rgba(16, 16, 16, 0.3);
  cursor: pointer;
  font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1025px) {
  .faq__tab-btn {
    font-size: 2.4rem;
  }
}
.faq__tab-btn.active {
  color: #101010;
}
.faq__tab-btn:first-of-type {
  width: 38%;
}
@media screen and (min-width: 1025px) {
  .faq__tab-btn:first-of-type {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.faq__tab-btn:last-of-type {
  width: 62%;
}
@media screen and (min-width: 1025px) {
  .faq__tab-btn:last-of-type {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.faq__panel {
  display: none;
}
.faq__panel.active {
  display: block;
}
.faq__box {
  border-bottom: 2px solid #232323;
  padding: 2.8rem 0 1.6rem;
}
@media screen and (min-width: 1025px) {
  .faq__box {
    padding: 5rem 12.7rem 3rem 2rem;
  }
}
.faq__term {
  color: #101010;
  font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.032em;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1025px) {
  .faq__term {
    font-size: 1.8rem;
    letter-spacing: 0.036em;
  }
}
.faq__desc {
  color: #101010;
  font-family: "游ゴシック体 Pr6N", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.028em;
  line-height: 2;
}
@media screen and (min-width: 1025px) {
  .faq__desc {
    font-size: 1.8rem;
    letter-spacing: 0.036em;
    line-height: 2;
  }
}