@charset "UTF-8";

@use "../../../global" as g;


.services-detail {
    margin-bottom: 20rem;
    padding: 0 2.4rem;
    @include g.mq('pc') {
        margin: 12rem 0 40rem;
    }
    &__wrapper {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
    }
    &__upper {
        @include g.mq('pc') {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    &__figure {
        max-width: 327px;
        width: 100%;
        margin: 0 auto;
        @include g.mq('pc') {
            max-width: 450px;
            margin: 0;
        }
    }
    &__left {
        max-width: 560px;
        width: 100%;
        @include g.mq('pc') {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__heading {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2;
        color: g.$text;
        margin-bottom: 1rem;
        @include g.mq('pc') {
            font-size: 2.4rem;
        }
    }
    &__desc {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2;
        color: g.$text;
        letter-spacing: 0.028em;
        margin: 0 0 2rem;
        @include g.mq('pc') {
            font-size: 1.8rem;
            letter-spacing: 0.036em;
        }
    }

    &__box {
        border-top: 2px solid g.$sub;
        padding: 3rem 0 2rem;
        @include g.mq('pc') {
            padding: 4.7rem 0 2rem;
        }
    }
    &__box:last-of-type {
        border-bottom: 2px solid g.$sub;
        margin-bottom: 8rem;
    }
    &__inner {
        @include g.mq('pc') {
            display: none;
        }
    }
    &__inner--pc {
        display: none;
        @include g.mq('pc') {
            display: flex;
        }
    }
    &__title {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        @include g.mq('pc') {
            margin-bottom: 0;
            display: block;
        }
    }
    &__title--number {
        font-family: acumin-pro, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.6rem;
        color: g.$text;
        opacity: 0.3;
        margin-right: 1.1rem;
        padding-bottom: 0.6rem;
        width: 36px;
        @include g.mq('pc') {
            display: block;
            font-size: 2.4rem;
            margin-right: 0;
            width: 58px;
        }
    }
    &__title--text {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: g.$text;
        @include g.mq('pc') {
            display: block;
            font-size: 2.4rem;
        }
    }
    &__title--look {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        color: g.$text;
        letter-spacing: 0.028em;
        display: inline-block;
        margin-left: auto;
        @include g.mq('pc') {
            display: block;
            font-size: 1.8rem;
            letter-spacing: 0.036em;

        }
        &:hover {
            font-size: 1.7rem;
            @include g.mq('pc') {
                font-size: 1.9rem;
            }
        }
    }
    &__text {
        font-family: "游ゴシック体 Pr6N", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2;
        color: g.$text;
        letter-spacing: 0.028em;
        @include g.mq('pc') {
            font-size: 1.8rem;
            letter-spacing: 0.036em;
            max-width: 499px;
            width: 100%;
        }

    }
    &__btn {
        @include g.btn-sub;
        @include g.mq('pc') {
            margin: 0 auto;
        }
    }

}

